.textCont {
    display: flex;
    justify-content: center;
    text-align: center;
}

.wrapper {
    margin-left: 16px;
    margin-bottom: 32px;
    width: 265px;
}

.wrapper_count {
    position: relative;
}

.wrapper_card {
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.wrapper_text{
    display: flex;
    margin-bottom: 4px;
}